<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hu.dao.PzDAO">

	<!-- 查询是否重名 -->
	<select id="getCkName" parameterType="PzEntity" resultType="int">
		select count(*) from pz
		<where>
		<if test="zname!=null">
			and zname=#{zname}
		</if>
		</where>
	</select>
	
	<!-- 分页查询 -->
	<select id="getByPages" parameterType="PzEntity" resultType="PzEntity">
		select * from pz order by zid desc limit #{begin},#{pages}
	</select>
	
	<!-- 修改凭证名称 -->
	<update id="updName" parameterType="PzEntity" >
		update pz set zname=#{zname} where zid=#{zid}
	</update>

	
 
</mapper>
