<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script th:src="@{js/jquery-3.2.1.min.js}"></script>
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
<script th:src="@{layer/layer.js}" type="text/javascript"></script>
<script th:src="@{assets/laydate/laydate.js}" type="text/javascript"></script> 
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/layer/layer.js}"></script>      
<script type="text/javascript" th:src="@{js/youhui/youhuiUpd.js}"></script>   
<style type="text/css">
	.content{
		padding:40px 20px 20px 0px;
		margin:auto;
	}
	
</style>
</head>

<body>
<form id="myform" class="layui-form" action="" enctype="multipart/form-data">
	 <div class="content" th:object="${youhui}">
	 <input type="hidden" id="yid" name="yid" th:value="*{yid}">
	 <div class="layui-form-item">
			<label class="layui-form-label">活动名称：</label>
			<div class="layui-input-block">
				<input type="text" style="width: 190px;" name="ytitle" id="ytitle" th:value="*{ytitle}"
					lay-verify="title" autocomplete="off" placeholder="请输入活动名称"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">开始时间：</label>
			<div class="layui-input-block">
			<input type="text" readonly="readonly" style="width: 190px;" name="ybegintime" id="ybegintime" 
			th:value="*{ybegintime}" lay-verify="title" autocomplete="off" placeholder="yyyy-MM-dd" class="layui-input">
				
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">结束时间：</label>
			<div class="layui-input-block">
			<input type="text" readonly="readonly" style="width: 190px;" name="yendtime" id="yendtime" 
			th:value="*{yendtime}" lay-verify="title" autocomplete="off" placeholder="yyyy-MM-dd" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">优惠金额：</label>
			<div class="layui-input-block">
				<input type="text" style="width: 190px;" name="ymoney" id="ymoney" th:value="*{ymoney}"
					lay-verify="title" autocomplete="off" placeholder="请输入优惠金额"
					class="layui-input">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">起始金额：</label>
			<div class="layui-input-block">
				<input type="text" style="width: 190px;" name="ylessmoney" id="ylessmoney" th:value="*{ylessmoney}"
					lay-verify="title" autocomplete="off" placeholder="请输入起始金额"
					class="layui-input">
			</div>
		</div>
		<input style="margin-left: 110px;" type="button" id="btn" class="layui-btn" value="提交" />
	</div>
</form>
</body>
</html>